---
import Button from "./Button.astro";
import { Icon } from "astro-icon/components";
---

<Button
  variant="ghost"
  id="dark-mode-toggle__dark"
  aria-label="Toggle dark mode"
>
  <Icon id="dark-mode-icon" name="mdi:moon-and-stars" />
</Button>
<Button
  variant="ghost"
  id="dark-mode-toggle__light"
  aria-label="Toggle light mode"
>
  <Icon id="dark-mode-icon" name="mdi:white-balance-sunny" />
</Button>

<script>
  const darkModeToggleDark = document.getElementById("dark-mode-toggle__dark")!;
  const darkModeToggleLight = document.getElementById(
    "dark-mode-toggle__light",
  )!;

  document.addEventListener("DOMContentLoaded", () => {
    // hide the dark mode toggle button if localStorage has a value for dark mode
    if (localStorage.getItem("taskninja--dark-mode") === "true") {
      darkModeToggleDark.style.display = "none";
      document.documentElement.classList.add("dark");
    } else if (localStorage.getItem("taskninja--dark-mode") === "false") {
      darkModeToggleLight.style.display = "none";
      document.documentElement.classList.remove("dark");
    } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      darkModeToggleLight.style.display = "none";
      document.documentElement.classList.add("dark");
    } else {
      darkModeToggleDark.style.display = "none";
      document.documentElement.classList.remove("dark");
    }
  });

  darkModeToggleDark.addEventListener("click", () => {
    localStorage.setItem("taskninja--dark-mode", "true");
    darkModeToggleDark.style.display = "none";
    darkModeToggleLight.style.display = "block";
    document.documentElement.classList.add("dark");
  });

  darkModeToggleLight.addEventListener("click", () => {
    localStorage.setItem("taskninja--dark-mode", "false");
    darkModeToggleLight.style.display = "none";
    darkModeToggleDark.style.display = "block";
    document.documentElement.classList.remove("dark");
  });
</script>
