---
import Button from "./Button.astro";
import { Icon } from "astro-icon/components";

const theme = Astro.cookies.get("theme")?.value || "light";
---

<div class="dark-mode-toggle" data-theme={theme}>
  <div
    class:list={[
      "dark-mode-toggle__dark",
      theme === "dark" ? "dark-mode-toggle--hidden" : "",
    ]}
  >
    <Button variant="ghost" aria-label="Toggle dark mode">
      <Icon id="dark-mode-icon" name="mdi:moon-and-stars" />
    </Button>
  </div>
  <div
    class:list={[
      "dark-mode-toggle__light",
      theme === "light" ? "dark-mode-toggle--hidden" : "",
    ]}
  >
    <Button variant="ghost" aria-label="Toggle light mode">
      <Icon id="dark-mode-icon" name="mdi:white-balance-sunny" />
    </Button>
  </div>
</div>

<style>
  .dark-mode-toggle--hidden {
    display: none;
  }
</style>

<script>
  const darkModeToggle = document.querySelector(
    ".dark-mode-toggle",
  ) as HTMLElement;
  const darkModeToggleDark = darkModeToggle.querySelector(
    ".dark-mode-toggle__dark",
  ) as HTMLElement;
  const darkModeToggleLight = darkModeToggle.querySelector(
    ".dark-mode-toggle__light",
  ) as HTMLElement;
  const body = document.querySelector("body")!;

  darkModeToggleDark.addEventListener("click", () => {
    document.cookie = "theme=dark; path=/; samesite=lax";
    darkModeToggleDark.classList.add("dark-mode-toggle--hidden");
    darkModeToggleLight.classList.remove("dark-mode-toggle--hidden");
    body.classList.add("dark");
  });

  darkModeToggleLight.addEventListener("click", () => {
    document.cookie = "theme=light; path=/; samesite=lax";
    darkModeToggleLight.classList.add("dark-mode-toggle--hidden");
    darkModeToggleDark.classList.remove("dark-mode-toggle--hidden");
    body.classList.remove("dark");
  });
</script>
