---
import Button from "./Button.astro";
import { Icon } from "astro-icon/components";

const theme = Astro.cookies.get("theme")?.value || "light";
---

<div class="dark-mode-toggle" data-theme={theme}>
  <Button
    variant="ghost"
    class="dark-mode-toggle__dark"
    aria-label="Toggle dark mode"
  >
    <Icon id="dark-mode-icon" name="mdi:moon-and-stars" />
  </Button>
  <Button
    variant="ghost"
    class="dark-mode-toggle__light"
    aria-label="Toggle light mode"
  >
    <Icon id="dark-mode-icon" name="mdi:white-balance-sunny" />
  </Button>
</div>

<script>
  const darkModeToggle = document.querySelector(
    ".dark-mode-toggle",
  ) as HTMLElement;
  const darkModeToggleDark = darkModeToggle.querySelector(
    ".dark-mode-toggle__dark",
  ) as HTMLElement;
  const darkModeToggleLight = darkModeToggle.querySelector(
    ".dark-mode-toggle__light",
  ) as HTMLElement;
  const body = document.querySelector("body")!;

  let theme = darkModeToggle.dataset.theme;

  document.addEventListener("DOMContentLoaded", () => {
    // hide the dark mode toggle button if theme is dark
    if (theme === "dark") {
      darkModeToggleDark.style.display = "none";
    } else if (theme === "light") {
      darkModeToggleLight.style.display = "none";
    } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      darkModeToggleLight.style.display = "none";
    } else {
      darkModeToggleDark.style.display = "none";
    }
  });

  darkModeToggleDark.addEventListener("click", () => {
    document.cookie = "theme=dark; path=/; samesite=lax";
    darkModeToggleDark.style.display = "none";
    darkModeToggleLight.style.display = "block";
    body.classList.add("dark");
  });

  darkModeToggleLight.addEventListener("click", () => {
    document.cookie = "theme=light; path=/; samesite=lax";
    darkModeToggleLight.style.display = "none";
    darkModeToggleDark.style.display = "block";
    body.classList.remove("dark");
  });
</script>
