---
interface Props {
  id?: string;
  title: string;
}

const { id, title } = Astro.props;
---

<div class="content" id={id}>
  <div class="content__header">
    <h1 class="content__header__title">{title}</h1>
    <div class="content__header__actions"><slot name="actions" /></div>
  </div>
  <div class="content__body"><slot /></div>
</div>

<style>
  .content {
    position: relative;
  }

  .content__header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--gap-md);
    z-index: 100;
    border-bottom: var(--border-width) solid var(--border-color);
  }

  .content__header__title {
    font-size: var(--font-size-lg);
    margin: 0;
  }

  .content__header__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-md);
  }

  .content__body {
  }
</style>
