---
import { type Task } from "../../lib/models/types";
import TaskListItem from "./TaskListItem.astro";
import EmptyState from "../EmptyState.astro";

interface Props {
  tasks: Task[];
}

const { tasks } = Astro.props;
---

{
  tasks.length > 0 ? (
    <ul class="task-list">
      {tasks.map((task, i) => (
        <li class="task-list__item" tabindex={i + 1}>
          <TaskListItem task={task} />
        </li>
      ))}
    </ul>
  ) : (
    <EmptyState>
      <span>No Tasks</span>
    </EmptyState>
  )
}

<style>
  .task-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
  }

  .task-list__item {
  }
</style>

<script>
  import shouldTriggerKeyboardShortcut from "../../lib/util/shouldTriggerKeyboardShortcut";

  const listItems = Array.from(
    document.querySelectorAll<HTMLLIElement>(".task-list__item"),
  );
  let currentIndex = -1;

  document.addEventListener("keydown", function (event) {
    if (!shouldTriggerKeyboardShortcut(event)) return;
    if (event.key !== "j" && event.key !== "k") return;
    event.preventDefault();

    if (event.key === "j") {
      currentIndex =
        currentIndex < listItems.length - 1 ? currentIndex + 1 : currentIndex;
    } else if (event.key === "k") {
      currentIndex = currentIndex > 0 ? currentIndex - 1 : currentIndex;
    }
    listItems[currentIndex]?.focus();
  });

  listItems.forEach((item, index) => {
    item.addEventListener("click", () => {
      currentIndex = index;
    });
  });
</script>
